//
// Layout

@use "$style/variables.scss" as *;

body {
	font-family: $font-set-body;
	font-weight: 400;
	text-rendering: optimizeLegibility;
	margin: 0;
	padding: 0;
	background-color: var(--color-bg);
	color: var(--color-text);
	hyphens: auto;
	text-overflow: ellipsis;
}

::selection {
	color: var(--color-text-inverse);
	background-color: var(--color-accent);
}

.content {
	padding: 0 $padding-inline;

	.flex {
		display: flex;
		flex-direction: column;
		gap: 2rem;

		.images {
			flex-basis: 38vw;
		}
	}
}

@media (min-width: $size-md) {
	.content {
		.flex {
			flex-direction: row;
		}
	}
}

@media (min-width: $size-xl) {
	.content {
		.flex {
			.images {
				display: grid;
				gap: 2rem;
				grid-template-columns: 1fr 1fr 1fr;
				flex-basis: 62vw;
			}
		}
	}
}
