// Layout

@use "$style/variables.scss" as *;

.content {
	padding: 0 $padding-inline;

	h2 {
		margin-block: 0.5rem;
	}
}

.content-grid {
	display: grid;
	grid-template-areas:
		"ct"
		"dg"
		"im";
	gap: 1.2rem;

	.controls {
		grid-area: ct;
	}

	.diagram {
		grid-area: dg;
	}

	.images {
		grid-area: im;
	}
}

@media (min-width: $size-md) {
	.content-grid {
		grid-template-areas:
			"ct ."
			"dg im";
		grid-template-columns: 62vw 1fr;
	}
}

@media (min-width: $size-xl) {
	.content-grid {
		grid-template-columns: 38vw 1fr;

		.images {
			display: grid;
			gap: 2rem;
			grid-template-columns: 1fr 1fr 1fr;
		}
	}
}
